$primary-color: #0077c0;
$secondary-color: #6abf69;

a {
    color: $primary-color;
    text-decoration: none;
    font-weight: bold;
}

body {
    font-family: 'Poppins', sans-serif;
}

.Article {
    width: 40%;
    margin: 0 30% 0 15%;
}
